{% extends 'base.html' %}
{% load static %}

{% block main %}
<!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area gradient-bg bg-cover shadow dark text-light text-center" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
     <!-- Start Our About
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="about-items">
                <div class="row">
                    <div class="col-lg-7 thumb-box">
                        <div class="thumb">
                            <i class="fas fa-heartbeat"></i>
                            <img src="{% static 'assets/img/screen_2x.jpg' %}" alt="Thumb">
                            <img src="{% static 'assets/img/screen_2x-2.jpg' %}" alt="Thumb">
                        </div>
                    </div>
                    <div class="col-lg-5 info">
                        <h5>About Us</h5>
                        <h2>Transport Medical Service is a trusted home healthcare service provider with a difference. </h2>
                        <p>
                            Transport Medical Service is an extension of the care provided to patients in hospitals; the specialists and doctors consider the patient’s house as an additional ward at home, wherein the responsibility of the patient’s care continues to be entrusted with them. The core purpose is to deliver 'hospital like care in the comfort of one’s home.
                            Transport Medical Service is backed by clinical excellence and proven track record of the Private medical centers in Belize, pioneers in healthcare delivery, with a vast experience of over a decade. The Transport Medical Service team is trained, guided and supported by highly reputed clinicians and allied healthcare providers.
                        </p>
                        <ul>
                            <li>
                                <div class="info">
                                    <h4>Emergency care</h4>
                                    <div class="items">
                                        <span>Primary Care</span>
                                        <span>Medicine</span>
                                        <span>Orthopedic</span>
                                        <span>Cardiology</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our About -->
    <!-- Star Feature Entry Area
    ============================================= -->
    <div class="feature-entry-area default-padding-bottom">
        <!-- Shape -->
        <div class="shape">
            <img src="{% static 'assets/img/shape/1.png' %}" alt="Shape">
        </div>
        <!-- End Shape -->
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h4>How we stand out</h4>
                            <h2>Our Features</h2>
                        </div>
                    </div>
                </div>
            <div class="feature-entry-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <i class="flaticon-wheelchair"></i>
                            <h4>Complete hospital ecosystem</h4>
                            <p>
                            Complete hospital ecosystem of care in home comfort ensured through home visits by specialists, family doctors, nurses and the use of customized technology                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <i class="flaticon-location"></i>
                            <h4>Geographic and economic accessibility</h4>
                            <p>
                            Geographic and economic accessibility; transparency in all transactions        </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <i class="flaticon-servant"></i>
                            <h4>Patient centric</h4>
                            <p>
                                Patient centric care delivered by highly trained and empathetic service providers
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <i class="flaticon-doctor"></i>
                            <h4>Standardized care </h4>
                            <p>Robust protocol-based treatment modalities to ensure standardized care                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <i class="flaticon-insurance"></i>
                            <h4>Stringent protocols</h4>
                            <p>Our healthcare professionals are meticulously selected through stringent protocols that include evaluation of their domain knowledge by experts in home healthcare, along with background and antecedent verification.</p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
            <div class="row">
                    <div class="col-lg left-info">
                        <h2>Our Vision</h2>
                        <p>
                            To be trusted and globally recognized for excellence in home healthcare
                        </p>
                    </div>
                </div>
            <div class="row">
                    <div class="col-lg left-info">
                        <h2>Our Mission</h2>
                        <p>
                           <li>QUALITY</li>
Striving for uncompromising excellence in service delivery and setting of global benchmarks in patient care.

<li>ACCESSIBILITY</li>
Making quality healthcare services available and accessible to all through cost-effective and innovative processes.

<li>TECHNOLOGY DRIVEN</li>
Skilful and optimum leveraging of technology that leads to real time and effective service outcomes.

<li>TRANSPARENCY</li>
Ensuring openness in service and all its related parameters in order to win the trust of the care seeker as well as the provider.

<li>CONTINUITY OF CARE</li>
Providing a continuity of care from tertiary and secondary hospitals to the community through a seamless integrated services network.

<li>EMPLOYEE FIRST</li>
Ensuring employees are valued and respected, which motivates them to identify with the organisation and strive to achieve its core purpose.
                        </p>
                    </div>
                </div>
            <div class="row">
                    <div class="col-lg left-info">
                        <h2>Our Values</h2>
                        <p>
                            <li>EMPATHY</li>
Identify with the feelings of patients and caregivers for deeper understanding and consequent delivery of services in a compassionate manner.

<li>INTEGRITY</li>
High ethical conduct and identifying oneself with the organization.

                        <li>RESPECT</li>
Treat everyone with courtesy and dignity to create fellowship and camaraderie, which enhances mutual respect and belongingness.

<li>TEAMWORK</li>
A collaborative work ecosystem, where the collective efficiencies are harnessed for delivering the best possible care.
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <!-- End Feature Entry Area -->
{% endblock %}